{% extends "_base.html" %}

{% block title %} Расчасовка {% endblock %}

<!-- Навигация -->
	{% block nav %}
	  <li class="nav-item">
	      <a class="nav-link" href="{% url "auditorium_list" %}"> Аудитории </a>
	  </li>
	  <li class="nav-item active">
	      <a class="nav-link" href="{% url "department_list" %}"> Расчасовки </a>
	  </li>
		<li class="nav-item">
			<a class="nav-link" href="{% url "group_list" %}">Расписание</a>
	  </li>
	{% endblock %}
<!-- Навигация -->

{% block content %}
	<div class="container-fluid pt-2 white">
    <div class="row">

	    <div class="col ">
	      <h2>{{ department.fullname }}</h2>
	      <a href="{% url "raschasovka_new" department.id %}" class="btn btn-sm btn-outline-danger d-inline float-right" role="button">
		      Добавить
	      </a>
      </div>

      <div class="col-12">
        <!-- Таблица с расчасовкой !-->
        <table class="table table-hover table-bordered raschasovka text-center z-depth-1">
          <thead>
            <tr>
              <th>Номер потока</th>
              <th>Курс</th>
              <th>Группа</th>
              <th>Количество студентов</th>
              <th>Преподаватель</th>
              <th>Дисциплина</th>
              <th>Вид занятий</th>
              <th>Аудитория</th>
              <th>Количество часов за семестр</th>
            </tr>
          </thead>
          <tbody>
          {% for r in raschas %}
            <tr onclick="location.href='{% url "raschasovka_edit" department.id r.id %}'">
              <td>
	              {% if r.potok %}
	                {{ r.potok }}
	              {% endif %}
              </td>
              <td>{{ r.courseid.number }}</td>
              <td>{{ r.groupid.name }}</td>
              <td>{{ r.numberofstudents }}</td>
              <td>{{ r.teacherid.firstname }} {{ r.teacherid.lastname }}</td>
              <td>{{ r.subjectid.fullname }}</td>
              <td>{{ r.subjecttypeid.fullname }}</td>
              <td>{{ r.auditoriumid.name }}</td>
              <td>{{ r.totalhoursforsemestr }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>

      </div>
    </div>

  </div>
{% endblock %}