{% extends "_base.html" %}

{% block title %} Расчасовка {% endblock %}

<!-- Навигация -->
	{% block nav %}
	  <li class="nav-item">
	      <a class="nav-link" href="{% url "auditorium_list" %}">Аудитории</a>
	  </li>
	  <li class="nav-item active">
	      <a class="nav-link" href="{% url "department_list" %}">Расчасовки</a>
	  </li>
		<li class="nav-item">
			<a class="nav-link" href="{% url "group_list" %}">Расписание</a>
	  </li>
	{% endblock %}
<!-- Навигация -->

{% block content %}
	<div class="container pb-2">
		<div class="row pb-2 mb-2 pt-1">
			<div class="col-2"></div>
			<div class="col-6 p-2 m-2 ml-5 white z-depth-2">
				<table>
					<tr>
						<td><h3>Кафедра:</h3></td>
						<td><h3>{{ department.fullname }}</h3></td>
					</tr>
					{% if raschasovka %}
					<tr>
						<td>Группа:</td>
						<td>{{ raschasovka.groupid.name }}</td>
					</tr>
					<tr>
						<td>Предмет:</td>
						<td>{{ raschasovka.subjectid }}</td>
					</tr>
					<tr>
						<td>Тип учебного занятия:</td>
						<td>{{ raschasovka.subjecttypeid }}</td>
					</tr>
					<tr>
						<td>Преподаватель:</td>
						<td>{{ raschasovka.teacherid }}</td>
					</tr>
					{% endif %}

				</table>
				{% if raschasovka %}
					<a href="{% url "raschasovka_delete" department.id raschasovka.id %}" class="btn btn-sm btn-outline-danger" role="button">
						Удалить данную расчасовку
					</a>
				{% endif %}
			</div>
		</div>
		<div class="row cyan lighten-5 pb-2 pt-1">
			<div class="col-2"></div>
			<div class="col-6 pt-2 ml-5 white z-depth-1">
				<form method="post">
					{% csrf_token %}
						{{ form.as_p }}
					<button type="submit" class="btn btn-info">Сохранить</button>
				</form>

			</div>
		</div>
	</div>
{% endblock %}