<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% load static %}
  <link rel="stylesheet" href="{% static "/css/bootstrap.min.css" %}">
  <link rel="stylesheet" href="{% static "/css/personal-time.css" %}">
  <link rel="stylesheet" href="{% static "/css/font-awesome.min.css" %}">

  <title>Аудитория {{ auditorium.name }}</title>
</head>

<body>
  <header>
      <!-- Здесь должна быть навигация -->
    <div class="container-fluid">
      <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'index' %}">Расписание</a>
        <a class="nav-link" href="{% url 'index' %}">Главная</a>
        <a class="nav-link active" href="{% url 'auditorium_list' %}">Аудитории</a>
      </nav>
    </div>

    <div class="blog-header">
      <div class="container">
        <h3>Аудитория {{ auditorium.name }}</h3>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">

      <div class="col-3">
        <div class="card">
          <div class="card-header">
            Поиск
          </div>
          <div class="card-body">
            <form role="search" class="visible-xs">
              <div class="form-group">
                <div class="input-group">
                  <input type="search" class="form-control" placeholder="1/111">
                  <div class="input-group-addon">
                    <button class="btn btn-outline-light" type="submit">
                      <i class="fa fa-search"></i>
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <br>
        <div class="card">
          <div class="card-header">
            Кафедры
          </div>
          <div class="card-body">
          <ul class="list-group list-group-flush">
            {% for building in buildings %}
              <li class="list-group-item">
                <a href="{% url 'aud_build' building.id %}">
                  {{ building.fullname }}
                </a>
              </li>
            {% endfor %}
          </ul>
          </div>
        </div>
      </div>

      <div class="col-9">
        <h3>{{ auditorium.name }}</h3>
        <p>
          {% if auditorium.departmentid %}
            Кафедра: {{ auditorium.departmentid }}
          {% endif %}
        </p>
        <p>
          {% if auditorium.seatingcapacity != 0 %}
            Вместимость: {{ auditorium.seatingcapacity }}
          {% endif %}
        </p>
        <p>
          {% if auditorium.auditoriumtypeid %}
            Тип аудитории: {{ auditorium.auditoriumtypeid.fullname }}
          {% endif %}
        </p>
        <p>
          {% if auditorium.buildingid %}
            Корпус: {{ auditorium.buildingid }}
          {% endif %}
        </p>
      </div>

    </div>
  </div>
<script src="{% static "/js/jquery-3.2.1.min.js" %}"></script>
<script src="{% static "/js/bootstrap.min.js" %}"></script>
</body>
</html>
