<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
  <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %} ">
  <link rel="stylesheet" href="{% static "css/personal-time.css" %}" >

  <title>Главная</title>
</head>
<body>

  <header>
    <!-- Здесь должна быть навигация -->
    <div class="container-fluid">
      <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
          Расписание
        </a>
      </nav>
    </div>
    <!-- Описание страницы -->
    <div class="blog-header">
      <div class="container mr-5">
        <p class="lead blog-description">Навигация</p>
        <h2 class="blog-title"><a href="">Зарезервированное время преподавателя</a></h2>
        <h2 class="blog-title"><a href="">Расчасовка</a></h2>
        <h2 class="blog-title"><a href="{% url "auditorium_list" %}">Аудитории</a></h2>
        <h2 class="blog-title"><a href="">Расписание</a></h2>

      </div>
    </div>
  </header>
<script src="{% static "js/jquery-3.2.1.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
</body>
</html>
