{% extends "_base.html" %}

{% block title %}Список групп{% endblock %}

<!-- Навигация -->
	{% block nav %}
	  <li class="nav-item">
	      <a class="nav-link" href="{% url "auditorium_list" %}">Аудитории </a>
	  </li>
	  <li class="nav-item">
	      <a class="nav-link" href="{% url "department_list" %}">Расчасовки</a>
	  </li>
		<li class="nav-item active">
			<a class="nav-link" href="{% url "group_list" %}">Расписание</a>
	  </li>
	{% endblock %}
<!-- Навигация -->

{% block content %}
	<div class="container">
		<div class="row cyan lighten-5 pb-2">
			<div class="col-3 mt-1 d-none d-md-block d-lg-block">
				<a href="{% url 'group_list' %}" class="btn btn-default btn-block mt-1 mb-1" role="button">
          Все группы
        </a>
				<!-- Поиск группы -->
				<div class="card">
          <div class="card-body">
            <form role="search" class="visible-xs">
	            <div class="md-form">
		            <i class="fa fa-search prefix"></i>
		            {{ form.search }}
		            <label for="groupSearch">Группа</label>
		            <button class="btn btn-light ml-4" type="submit"> Поиск </button>
	            </div>
            </form>
          </div>
        </div>
				<!-- Поиск группы -->

				<!--Список кафедр-->
				<div class="card mt-3">
          <div class="card-header"> Кафедра </div>
          <div class="card-body">
	          <ul class="list-group list-group-flush">
	            {% for department in departments %}
		            {% if department.name != '-' %}
	              <li class="list-group-item">
	                <a href="{% url 'department_group_list' department.id %}">
	                  {{ department.name }}
	                </a>
	              </li>
		            {% endif %}
	            {% endfor %}
	          </ul>
          </div>
        </div>
				<!--Список кафедр-->

			</div>
			<div class="col-7 ">
				<!-- Список групп -->
				<div class="list-group white">
					<!-- Пагинация -->
					<nav>
						{% if groups.has_other_pages %}
		          <ul class="pagination pg-blue white">
		            {% if groups.has_previous %}
		              <li class="page-item">
		                <a class="page-link" href="?page={{ groups.previous_page_number }}">&laquo;</a>
		              </li>
		            {% else %}
		              <li class="page-item disabled">
		                <a class="page-link" href="#" tabindex="-1">&laquo;</a>
		              </li>
		            {% endif %}
		            {% for i in groups.paginator.page_range %}
		              {% if groups.number == i %}
		                <li class="page-item active">
		                  <a class="page-link" href="?page={{ i }}">{{ i }}</a>
		                </li>
		              {% else %}
		                <li class="page-item">
		                  <a class="page-link" href="?page={{ i }}">{{ i }}</a>
		                </li>
		              {% endif %}
		            {% endfor %}
		            {% if groups.has_next %}
		              <li class="page-item">
		                <a class="page-link" href="?page={{ groups.next_page_number }}">&raquo;</a>
		              </li>
		            {% else %}
		              <li class="page-item disabled"><span>&raquo;</span></li>
		            {% endif %}
		          </ul>
		        {% endif %}
						</nav>
					<!-- Пагинация -->

					{% for group in groups %}
						<a href="{% url 'group' group.id %}" class="list-group-item waves-effect">
							{{ group.name }}

							{% if group.departmentid %}
								, кафедра {{ group.departmentid }}
							{% endif %}
						</a>
					{% endfor %}

					<!-- Пагинация -->
					<nav>
						{% if groups.has_other_pages %}
		          <ul class="pagination pg-blue white">
		            {% if groups.has_previous %}
		              <li class="page-item">
		                <a class="page-link" href="?page={{ groups.previous_page_number }}">&laquo;</a>
		              </li>
		            {% else %}
		              <li class="page-item disabled">
		                <a class="page-link" href="#" tabindex="-1">&laquo;</a>
		              </li>
		            {% endif %}
		            {% for i in groups.paginator.page_range %}
		              {% if groups.number == i %}
		                <li class="page-item active">
		                  <a class="page-link" href="?page={{ i }}">{{ i }}</a>
		                </li>
		              {% else %}
		                <li class="page-item">
		                  <a class="page-link" href="?page={{ i }}">{{ i }}</a>
		                </li>
		              {% endif %}
		            {% endfor %}
		            {% if groups.has_next %}
		              <li class="page-item">
		                <a class="page-link" href="?page={{ groups.next_page_number }}">&raquo;</a>
		              </li>
		            {% else %}
		              <li class="page-item disabled"><span>&raquo;</span></li>
		            {% endif %}
		          </ul>
		        {% endif %}
						</nav>
					<!-- Пагинация -->
				</div>
				<!-- Список групп -->
			</div>
		</div>
	</div>
{% endblock %}