{% extends "_base.html" %}

{% block title %} Группа {{ group.name }} {% endblock %}

<!-- Навигация -->
	{% block nav %}
	  <li class="nav-item">
		  <a class="nav-link" href="{% url "auditorium_list" %}">Аудитории </a>
	  </li>
	  <li class="nav-item">
		  <a class="nav-link" href="{% url "department_list" %}">Расчасовки</a>
	  </li>
		<li class="nav-item active">
			<a class="nav-link" href="{% url "group_list" %}">Расписание</a>
	  </li>
	{% endblock %}
<!-- Навигация -->

{% block content %}
	<div class="container grey lighten-5 pb-1">
		<div class="row">
			<div class="col white">
				<h2>{{ group.name }}</h2>
				<h5 class="d-inline">Количество студентов: {{ group.numberofstudents }}</h5>
				<a href="{% url "schedule_new" group.id %}" class="btn btn-outline-red rounded font-weight-bold waves-effect d-inline float-right" role="button">Добавить</a>
				<a href="#ras" class="btn btn-outline-info rounded font-weight-bold waves-effect d-inline float-right" role="button">Оставшиеся расчасовки</a>
			</div>
		</div>
	</div>

	<div class="container-fluid pb-1 white">

		<table class="table table-hover table-bordered text-center schedule">

      <thead>
        <tr>
          <th></th>
	        {% for day in days_of_week %}
            <th>{{ day.fullname }}</th>
	        {% endfor %}
        </tr>
      </thead>

      <tbody>
        {% for hour in schedule_table.values %}
	        <tr>
		        {% for hour_day in hour.values %}
			        {% if forloop.first %}
				        <td>
				        {{ hour_day }}
				        </td>
			        {% elif hour_day %}
				        <td onclick="location.href='{% url "schedule_edit" group.id hour_day.id %}'">
					        {{ hour_day.auditoriumid }}
				          {{ hour_day.teacherid.lastname }}
				          {{ hour_day.teacherid.firstname }}
					        {% if hour_day.subjectid.name %}
				            {{ hour_day.subjectid.name }}
						      {% else %}
						        {{ hour_day.subjectid.fullname }}
						      {% endif %}
				          {{ hour_day.subjecttypeid.name }}
				        </td>
			        {% else %}
				        <td></td>
			        {% endif %}
			      {% endfor %}
	        </tr>
        {% endfor %}
      </tbody>
    </table>

	</div>

	<!-- Расчасовка -->
	<div class="container pb-1 mt-2 pt-1 mb-5 z-depth-2 white">
		<div class="row">
			<div class="col" id="ras">
				<h3>Расчасовки для этой группы</h3>
				<table class="table table-hover table-bordered text-center schedule">

		      <thead>
		        <tr>
		          <th>Номер</th>
			        <th>Тип занятий</th>
			        <th>Предмет</th>
			        <th>Преподаватель</th>
		        </tr>
		      </thead>

		      <tbody>
		        {% for raschasovka in raschasovka_for_group %}
			        <tr onclick="location.href='{% url "schedule_new_by_r" group.id raschasovka.id %}'">
					        <td> {{ raschasovka.id }} </td>
					        <td> {{ raschasovka.subjecttypeid.fullname }} </td>
					        <td> {{ raschasovka.subjectid }} </td>
					        <td> {{ raschasovka.teacherid }} </td>
			        </tr>
		        {% endfor %}
		      </tbody>
		    </table>

			</div>
		</div>

	</div>
{% endblock %}