{% extends "_base.html" %}

{% block title %} Расписание {% endblock %}

<!-- Навигация -->
	{% block nav %}
	  <li class="nav-item">
	      <a class="nav-link" href="{% url "auditorium_list" %}">Аудитории</a>
	  </li>
	  <li class="nav-item">
	      <a class="nav-link" href="{% url "department_list" %}">Расчасовки</a>
	  </li>
		<li class="nav-item active">
			<a class="nav-link" href="{% url "group_list" %}">Расписание</a>
	  </li>
	{% endblock %}
<!-- Навигация -->

{% block content %}
	<div class="container pb-2">
		<div class="row cyan lighten-5 pb-2 pt-1">
			<div class="col-2">

			</div>
			<div class="col-6 pt-2 ml-5 white">
				<div class="border-bottom">
				<h2>
					<a href="{% url "group" group.id %}">{{ group.name }}</a>
				</h2>
				<p>Кафедра: {{ group.departmentid.name }}</p>
				<p>Количество студентов: {{ group.numberofstudents }}</p>
				</div>

				{% if schedule %}
					<a href="{% url "schedule_delete" group.id schedule.id %}" class="btn btn-sm btn-outline-danger" role="button">
						Удалить данное расписание
					</a>
				{% endif %}
				<form method="post">
					{% csrf_token %}
					<!-- Пара -->
					<div class="form-group">
						{{ form.hourid.label }}
						{{ form.hourid }}
					</div>
					<!-- Пара -->

					<!-- Курс -->
					<div class="form-group">
						<label for="input">День недели</label>
						{{ form.dayofweekid }}
					</div>
					<!-- Курс -->

					<!-- Преподаватель -->
					<div class="form-group">
						<label for="input">Преподаватель</label>
						{{ form.teacherid }}
					</div>
					<!-- Преподаватель -->

					<!-- Предмет -->
					<div class="form-group">
						<label for="input">Предмет</label>
						{{ form.subjectid }}
					</div>
					<!-- Предмет -->

					<!-- Тип предмета -->
					<div class="form-group">
						<label for="input">Тип предмета</label>
						{{ form.subjecttypeid }}
					</div>
					<!-- Тип предмета -->

					<!-- Аудитория -->
					<div class="form-group">
						<label for="input">Аудитория</label>
						{{ form.auditoriumid }}
					</div>
					<!-- Аудитория -->

					<!-- Семестр -->
					<div class="form-group">
						<label for="input">Семестр</label>
						{{ form.semesterid }}
					</div>
					<!-- Семестр -->

					<div class="form-check">
						<label class="form-check-label">
						{{ form.isfinal }}
							Опубликовать
						</label>
					</div>

					<!-- Семестр -->
					<div class="form-group">
						{{ form.groupid }}
					</div>
					<!-- Семестр -->

					<!-- Семестр -->
					<div class="form-group">
						{{ form.lastchange }}
					</div>
					<!-- Семестр -->

					<button type="submit" class="btn btn-info">Сохранить</button>
				</form>

			</div>
		</div>
	</div>
{% endblock %}