{% extends "_base.html" %}

{% block title %} Главная {% endblock %}

<!-- Навигация -->
	{% block nav %}
	  <li class="nav-item">
	      <a class="nav-link" href="{% url "auditorium_list" %}">Аудитории </a>
	  </li>
	  <li class="nav-item">
	      <a class="nav-link" href="{% url "department_list" %}">Расчасовки</a>
	  </li>
		<li class="nav-item">
			<a class="nav-link" href="{% url "group_list" %}">Расписание</a>
	  </li>
	{% endblock %}
<!-- Навигация -->

{% block content %}
	<div class="container pb-2">
		<div class="row cyan lighten-5 pb-2">
			<div class="col-3 mt-1">

			</div>
			<div class="col-7 mt-2 white text-center">

				<h2>
	      <a class="" href="{% url "auditorium_list" %}">Аудитории </a>
			  </h2>
				<h2>
			      <a class="" href="{% url "department_list" %}">Расчасовки</a>
			  </h2>
				<h2>
			      <a class="" href="{% url "group_list" %}">Расписание</a>
			  </h2>

			</div>
		</div>
	</div>
{% endblock %}