{% extends "_base.html" %}

{% block title %} Главная {% endblock %}

<!-- Навигация -->
	{% block nav %}
	  <li class="nav-item">
	      <a class="nav-link" href="{% url "auditorium_list" %}">Аудитории </a>
	  </li>
	  <li class="nav-item">
	      <a class="nav-link" href="{% url "department_list" %}">Расчасовки</a>
	  </li>
		<li class="nav-item">
			<a class="nav-link" href="{% url "group_list" %}">Расписание</a>
	  </li>
	{% endblock %}
<!-- Навигация -->

{% block content %}
	<div class="container pb-2">
		<div class="row cyan lighten-5 pb-2">
			<div class="col-3 mt-1">

			</div>
			<div class="col-7 mt-2 white text-center">

				<h2>
	      <a class="" href="{% url "auditorium_list" %}">Аудитории </a>
			  </h2>
				<h2>
			      <a class="" href="{% url "department_list" %}">Расчасовки</a>
			  </h2>
				<h2>
			      <a class="" href="{% url "group_list" %}">Расписание</a>
			  </h2>


{#				<ul class="nav md-pills nav-justified">#}
{#				  <li class="nav-item">#}
{#					  <a class="btn btn-outline-info nav-link" data-toggle="tab" href="#panelChislitel" role="tab">Числитель</a>#}
{#				  </li>#}
{#				  <li class="nav-item">#}
{#					  <a class="btn btn-outline-info nav-link" data-toggle="tab" href="#panelZnamenatel" role="tab">Знаменатель</a>#}
{#				  </li>#}
{#				</ul>#}

				<!-- Tab panels -->
{#				<div class="tab-content">#}
{#				  <!--Panel 1-->#}
{#				  <div class="tab-pane fade in show active" id="panelChislitel" role="tabpanel">#}
{#				    <br>#}
{#				    <p>lala</p>#}
{#				  </div>#}
{#				  <!--/.Panel 1-->#}
{##}
{#				  <!--Panel 2-->#}
{#				  <div class="tab-pane fade" id="panelZnamenatel" role="tabpanel">#}
{#				    <br>#}
{#				    <p>ruru</p>#}
{#				    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus#}
{#				        reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione#}
{#				        porro voluptate odit minima.</p>#}
{#				  </div>#}
{#				  <!--/.Panel 2-->#}
{#				</div>#}

			</div>
		</div>
	</div>
{% endblock %}