/*
 * Globals
 */

@media (min-width: 48em) {
  html {
    font-size: 18px;
  }
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #555;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  color: #444;
}

.raschasovka{
  font-size: 0.8rem;
}

.raschasovka th,
.raschasovka td {
  padding: 0.3rem;
}

.schedule {
  font-size: 0.85rem;
}

.schedule th,
.schedule td {
  padding: 0.4rem;
}
